.card-back{
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
   
}

.card-back p{
    position: absolute;
    top: 49%;
    right: 12%;
    transform: translateY(-50%);
    font-size: 0.7em;
}

.card-back img{
   max-width: 17rem;
}

@media (min-width: 700px) {
    .card-back{
        transform: translate(-40%, 30%);
    }

    .card-back p{
        font-size: 1em;
    }
}
