.form-date{
    max-width: 290px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-date label{
    margin-left: -14px;
}

.form-date-input input{
    width: 100%;
    margin-left: -14px;
}