.form-number{
    display: flex;
    flex-direction: row;
    padding-left: 25px;
    align-items: center;
}

.form-number input{
    margin-right: 14px;
    margin-top: 5px;
    width: 40px;
}

.form-number .cvc-input input{
    width: 127px;
}


