.cards{
    position: relative;
    padding-top: 15rem;
    z-index: 3000;
}

@media (min-width: 700px) {
    .cards{
       padding-top: 40rem;
       padding-left: 45rem;
       margin: auto;
       
    }

    .cards img{
        max-width: 25rem;
    }
}







