.cards{
    position: relative;
    padding-top: 15rem;
    z-index: 3000;
}




@media (min-width: 700px) {
    /* .cards{
        display: flex;
        flex-direction: row;
       
    } */
}







