form{
    background-color: white;
    position: absolute;
    z-index: 1;
    top:12.5rem;
    max-width: 1000px;
    width: 100%;
    height: 77vh;  
    text-align: left;
    gap: 20px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

form input{
    padding: 15px;
    border-radius: 10px;
    border: 1px solid gray;
    margin-top: 10px;
    width: 100%;
}

form button{
    padding: 20px;
    max-width: 280px;
    width: 100%;
    margin: 10px auto;
    border-radius: 10px;
    border: none;
    background-color: var(--Very-dark-violet);
    color: white;
    font-size: 20px;
    font-family: "Space Grotesk", sans-serif;;

}

form input::-webkit-input-placeholder { /* Chrome, Safari, Opera */
    color: var(--Dark-grayish-violet);
    font-size: 20px;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;   
    letter-spacing: 0.2px;

}

form label{
    font-size: 15px;
    color: var(--Very-dark-violet);
    font-weight: 600;
}

@media (min-width: 700px) {
    form{
        top:10.5rem;
        margin:  auto;
        left: 25%
    }
}
